{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.jsonc",
            "options": {
                "tabWidth": 2,
                "trailingComma": "none"
            }
        }
    ]
}
